* {
  font-family: "Open Sans", "Inter", "Roboto", "Oxygen", "Fira Sans",
    "Helvetica Neue", sans-serif;
}
.container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.mf-app {
  display: flex;
  flex-direction: column;
}

.mf-app > * {
  margin-bottom: 10px;
}

.react-button {
  background-color: #61dafb;
  color: #000000;
  padding: 10px 25px;
  white-space: nowrap;
  border: none;
}
